<%- include('../templates/head', {tituloWeb: '- Panel Control' }) %>

  <!-- Start User Profile Area -->
  <section class="about-us section">
    <div class="">
      <div class="row">
        <aside class="col-lg-3 col-md-4 col-12 d-flex justify-content-center mb-5">
          <div class="sidebar ml-2 border-1 border-right">
            <div class="mb-3 text-center">
              <img class="rounded-circle border border-2 border-primary" src="assets/images/profiles/admin.png" alt=""
                style="width: 200px; height: 200px;">
              <p class="mt-4">Hola, <span class="text-primary font-weight-bold">Administrador</span></p>
              <small>user@user</small>
            </div>
            <hr class="w-50 mx-auto">
            <div class="widget popular-feeds px-5" style="border-style: none;">
              <div class="">
                <div class="single-popular-feed">
                  <i class="fas fa-columns fa-lg d-inline mr-2"></i>
                  <h6 class=""><a href="/panelControl">Panel Principal</a></h6>
                </div>
                <div class="single-popular-feed">
                  <i class="fas fa-users fa-lg d-inline mr-2"></i>
                  <h6 class=""><a href="/usuariosRegistrados">Usuarios Registrados</a></h6>
                </div>

                <div class="single-popular-feed text-primary">
                  <i class="fas fa-book fa-lg d-inline mr-2"></i>
                  <h6 class="text-primary"><a href="/administrarCursos">Administrar Cursos</a></h6>
                </div>
                <div class="single-popular-feed">
                  <i class="fas fa-dollar-sign fa-lg d-inline mr-2"></i>
                  <h6 class=""><a href="/ganancias">Ganancias</a></h6>
                </div>

              </div>
            </div>
          </div>
        </aside>
        <div class="col-lg-9 col-md-8">
          <div class="container mt-4">
            <div class="about-left mt-4">
              <div class="section-title">
                <h2 class="wow fadeInUp" data-wow-delay=".4s">Cantidad de cursos: <h2
                    class="font-weight-bold font-italic text-primary">6</h2>
                </h2>
                <p class="wow fadeInUp" data-wow-delay=".6s">Aquí podras administrar los cursos</p>
              </div>
            </div>

            <div class="services">
              <div class="single-head">
                <div class="d-grid gap-2 d-md-block mb-4">
                  <button class="btn btn-outline-primary" type="button" data-toggle="modal" data-target="#modalAgregar">
                    <i class="fas fa-plus-circle"></i> Agregar un Curso</button>
                </div>

                <table class="table table-bordered table-hover border-primary text-center">
                  <thead>
                    <tr class="table-primary">
                      <th scope="col">#</th>
                      <th scope="col">Logo</th>
                      <th scope="col">Curso</th>
                      <th scope="col">Precio</th>
                      <th scope="col" class="table-success">Editar</th>
                      <th scope="col" class="table-danger">Eliminar</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td><img src="assets/images/products/logo-office.png" style="width: 50px; height: 50px;"></td>
                      <td>Office</td>
                      <td>$ 1.99</td>
                      <td><button type="button" class="btn btn-outline-success" data-toggle="modal"
                          data-target="#modalEditar">
                          <i class="far fa-edit"></i></button></td>
                      <td><button type="button" class="btn btn-outline-danger" data-toggle="modal"
                          data-target="#modalEliminar">
                          <i class="far fa-trash-alt"></i></button></td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td><img src="assets/images/products/logo-whatsapp.png" style="width: 50px; height: 50px;"></td>
                      <td>WhatsApp</td>
                      <td>$ 1.99</td>
                      <td><button type="button" class="btn btn-outline-success" data-toggle="modal"
                          data-target="#modalEditar">
                          <i class="far fa-edit"></i></button></td>
                      <td><button type="button" class="btn btn-outline-danger" data-toggle="modal"
                          data-target="#modalEliminar">
                          <i class="far fa-trash-alt"></i></button></td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td><img src="assets/images/products/logo-excel.png" style="width: 50px; height: 50px;"></td>
                      <td>Excel</td>
                      <td>$ 1.99</td>
                      <td><button type="button" class="btn btn-outline-success" data-toggle="modal"
                          data-target="#modalEditar">
                          <i class="far fa-edit"></i></button></td>
                      <td><button type="button" class="btn btn-outline-danger" data-toggle="modal"
                          data-target="#modalEliminar">
                          <i class="far fa-trash-alt"></i></button></td>
                    </tr>
                    <tr>
                      <th scope="row">4</th>
                      <td><img src="assets/images/products/logo-instagram.png" style="width: 50px; height: 50px;"></td>
                      <td>Instagram</td>
                      <td>$ 1.99</td>
                      <td><button type="button" class="btn btn-outline-success" data-toggle="modal"
                          data-target="#modalEditar">
                          <i class="far fa-edit"></i></button></td>
                      <td><button type="button" class="btn btn-outline-danger" data-toggle="modal"
                          data-target="#modalEliminar">
                          <i class="far fa-trash-alt"></i></button></td>
                    </tr>
                    <tr>
                      <th scope="row">5</th>
                      <td><img src="assets/images/products/logo-outlook.png" style="width: 50px; height: 50px;"></td>
                      <td>Outtlok</td>
                      <td>$ 1.99</td>
                      <td><button type="button" class="btn btn-outline-success" data-toggle="modal"
                          data-target="#modalEditar">
                          <i class="far fa-edit"></i></button></td>
                      <td><button type="button" class="btn btn-outline-danger" data-toggle="modal"
                          data-target="#modalEliminar">
                          <i class="far fa-trash-alt"></i></button></td>
                    </tr>
                    <tr>
                      <th scope="row">6</th>
                      <td><img src="assets/images/products/logo-teams.png" style="width: 50px; height: 50px;"></td>
                      <td>MS Teams</td>
                      <td>$ 1.99</td>
                      <td><button type="button" class="btn btn-outline-success" data-toggle="modal"
                          data-target="#modalEditar">
                          <i class="far fa-edit"></i></button></td>
                      <td><button type="button" class="btn btn-outline-danger" data-toggle="modal"
                          data-target="#modalEliminar">
                          <i class="far fa-trash-alt"></i></button></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>

    <!-- Modal Eliminar-->
    <div class="modal fade" id="modalEliminar" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
      tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalToggleLabel">Eliminar curso</h5>
            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            ¿Está seguro de que desea eliminar este curso?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-danger">Eliminar</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Final Modal eliminar-->

    <!-- Modal editar-->
    <div class="modal fade" id="modalEditar" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalToggleLabel">Editar curso</h5>
            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="row">
                <label class="form-label">
                  <b>Logo del curso</b>
                </label>
                <div class="input-group mb-3">
                  <input type="file" class="form-control" id="inputGroupFile02">
                </div>

                <div class="col-6">
                  <label class="form-label">
                    <b>Curso</b>
                  </label>
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Nombre del curso">
                  </div>
                </div>
                <div class="col-6">
                  <label class="form-label">

                    <b>Precio</b>
                  </label>
                  <div class="input-group mb-3">
                    <span class="input-group-text">$</span>
                    <input type="number" class="form-control" placeholder="Precio" aria-label="Apellido">
                  </div>
                </div>

              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-success">Guardar Cambios</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Final Modal editar-->

    <!-- Modal Agregar curso-->
    <div class="modal fade" id="modalAgregar" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
      tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalToggleLabel">Agregar curso</h5>
            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="row">
                <label class="form-label">
                  <b>Logo del curso</b>
                </label>
                <div class="input-group mb-3">
                  <input type="file" class="form-control" id="inputGroupFile02">
                </div>

                <div class="col-6">
                  <label class="form-label">
                    <b>Curso</b>
                  </label>
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Nombre del curso">
                  </div>
                </div>
                <div class="col-6">
                  <label class="form-label">

                    <b>Precio</b>
                  </label>
                  <div class="input-group mb-3">
                    <span class="input-group-text">$</span>
                    <input type="number" class="form-control" placeholder="Precio" aria-label="Apellido">
                  </div>
                </div>

              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary">Agregar</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Final Modal agregar curso-->
  </section>
  <!-- /End User Profile Area -->
  
  <%- include('../templates/footer') %>