<%- include('../templates/head') %>

    <section class="blog-single" style="padding-top: 100px;">
        <div class="ml-0">
            <div class="row">
                <aside class="col-lg-3 col-md-4 col-12 d-flex justify-content-center">
                    <div class="sidebar ml-2">
                        <div class="text-center mb-3 p-4 widget border border-primary border-1">
                            <h6 class="text-primary">Aquí está tu guía <br> paso a paso</h6>
                            <i class="fas fa-long-arrow-alt-down mt-1 text-primary"></i>
                        </div>
                        <div class="widget popular-feeds border border-primary border-2">
                            <h5 class="widget-title">Pasos del Curso</h5>
                            <div class="">
                                <div class="single-popular-feed">
                                    <div class="feed-desc">
                                        <h6 class="widget-title-post"><a href="#">Introducción a Whatsapp</a></h6>
                                        <div class="ml-3">
                                            <i class="fas fa-angle-right fa-sm d-inline"></i>
                                            <a href="#" class="text-muted d-inline">
                                                <span class="time d-inline">¿Qués es whatsapp?</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-popular-feed">
                                    <div class="feed-desc">
                                        <h6 class="widget-title-post"><a href="#">Agendar un contacto</a></h6>
                                        <div class="ml-3">
                                            <i class="fas fa-angle-right fa-sm d-inline"></i>
                                            <a href="#" class="text-muted d-inline">
                                                <span class="time d-inline">Agendar un contácto</span>
                                            </a>
                                        </div>
                                        <div class="ml-3">
                                            <i class="fas fa-angle-right fa-sm d-inline"></i>
                                            <a href="#" class="text-muted d-inline">
                                                <span class="time d-inline">Ver botones</span>
                                            </a>
                                        </div>
                                        <div class="ml-3">
                                            <i class="fas fa-angle-right fa-sm d-inline"></i>
                                            <a href="#" class="text-muted d-inline">
                                                <span class="time d-inline">Vizualizar contacto</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-popular-feed">
                                    <div class="feed-desc">
                                        <h6 class="widget-title-post"><a href="#">Si lees esto, quiero que sepas que toy
                                                bien cansao lco</a></h6>
                                        <div class="ml-3">
                                            <i class="fas fa-angle-right fa-sm"></i>
                                            <a href="#" class="text-muted"><span class="time">hola, soy
                                                    Franklin</span></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-popular-feed">
                                    <div class="feed-desc">
                                        <h6 class="widget-title-post"><a href="#">Ver contacto en whatsapp</a></h6>
                                        <div class="ml-3">
                                            <i class="fas fa-angle-right fa-sm"></i>
                                            <a href="#" class="text-muted"><span class="time">Qué locurín</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center mb-3 p-4 widget border border-primary border-1">
                            <h6 class="text-primary">Aquí están tus pruebas, <br>confiamos en ti</h6>
                            <i class="fas fa-long-arrow-alt-down mt-1 text-primary"></i>
                        </div>
                        <div class="widget categories-widget border border-primary border-2">
                            <h5 class="widget-title">Pruebas del Curso</h5>
                            <ul class="custom">
                                <li>
                                    <a href="#">1. Agendar contacto<span class="prueba-calificacion"><i
                                                class="fas fa-check"></i></span></a>
                                </li>
                                <li>
                                    <a href="#">2. Llamar a alguien<span class="border border-dark"><i
                                                class="fas fa-times text-dark"></i></span></a>
                                </li>
                                <li>
                                    <a href="#">3. Video llamada<span class="border border-dark"><i
                                                class="fas fa-times text-dark"></i></span></a>
                                </li>
                                <li>
                                    <a href="#">4. Borrar contacto<span class="border border-dark"><i
                                                class="fas fa-times text-dark"></i></span></a>
                                </li>
                                <li>
                                    <a href="#">5. Bloquear contacto<span class="border border-dark"><i
                                                class="fas fa-times text-dark"></i></span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </aside>
                <div class="col-sm-12 col-md-8 col-lg-9 col-12">
                    <div class="container mt-4">
                        <div class="col-12 mb-4">
                            <div class="text-center">
                                <h2 class="wow fadeInUp" data-wow-delay=".2s">CURSO WHATSAPP</h2>
                                <p class="wow fadeInUp" data-wow-delay=".2s">No tengas miedo a aprendrer, sólo
                                    concéntrate y aprenderás! <i class="far fa-grin-beam"></i></p>
                            </div>
                        </div>
                        <div class="col-12 mb-1">
                            <div class="button d-flex justify-content-end wow fadeInRight mt-5" data-wow-delay=".4s">
                                <button class="btn-video">Cómo se vería en computadora</button>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col-12 col-md-12 col-lg-4 mb-5">
                                <div class="">
                                    <h5 class="wow fadeInUp mb-3" data-wow-delay=".1s"> ¿Qué es whatsapp?</h5>
                                    <p class="wow fadeInUp" data-wow-delay=".1s">Lorem ipsum dolor sit, amet consectetur
                                        adipisicing elit. Voluptas, dolore! Sequi magnam ab similique est eum alias quod
                                        nemo nulla, nam numquam excepturi pariatur ad sapiente modi dolorum? Nesciunt,
                                        deserunt. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi, molestias. Atque vero tenetur cumque necessitatibus quos porro rerum delectus dolore aspernatur fuga quibusdam quasi reprehenderit velit, magnam sapiente. Sed, vero! Lorem ipsum dolor sit.</p>
                                </div>
                            </div>

                            <div class="col-12 col-md-12 col-lg-8 mb-5">
                                <section class="intro-video-area video-whatsapp overlay section">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="intro-video-play">
                                                <div class="row justify-content-center">
                                                    <div class="col-lg-10 col-12">
                                                        <div class="play-thumb wow zoomIn" style="margin-top: 120px;" data-wow-delay=".2s">
                                                            <a href="https://www.youtube.com/watch?v=qorBzcjfEmc&ab_channel=TBS"
                                                                class="glightbox video"><i
                                                                    class="fas fa-play"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <hr class="w-50 mx-auto mb-5">
                            <div class="col-12">
                                <div class="mb-5">
                                    <h5 class="wow fadeInUp mb-3" data-wow-delay=".1s">Partes importantes</h5>
                                    <p class="wow fadeInUp" data-wow-delay=".1s">Lorem ipsum dolor sit, amet consectetur
                                        adipisicing elit. Voluptas, dolore! Sequi magnam ab similique est eum alias quod
                                        nemo nulla, nam numquam excepturi pariatur ad sapiente modi dolorum? Nesciunt,
                                        deserunt. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi, molestias. Atque vero tenetur cumque necessitatibus quos porro rerum delectus dolore aspernatur fuga quibusdam quasi reprehenderit velit, magnam sapiente. Sed, vero!</p>
                                </div>
                                <div class="mb-5">
                                    <h5 class="wow fadeInUp mb-3" data-wow-delay=".1s">Partes importantes</h5>
                                    <p class="wow fadeInUp" data-wow-delay=".1s">Lorem ipsum dolor sit, amet consectetur
                                        adipisicing elit. Voluptas, dolore! Sequi magnam ab similique est eum alias quod
                                        nemo nulla, nam numquam excepturi pariatur ad sapiente modi dolorum? Nesciunt,
                                        deserunt. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi, molestias. Atque vero tenetur cumque necessitatibus quos porro rerum delectus dolore aspernatur fuga quibusdam quasi reprehenderit velit, magnam sapiente. Sed, vero!</p>
                                </div>
                                <div class="mb-5">
                                    <h5 class="wow fadeInUp mb-3" data-wow-delay=".1s">Partes importantes</h5>
                                    <p class="wow fadeInUp" data-wow-delay=".1s">Lorem ipsum dolor sit, amet consectetur
                                        adipisicing elit. Voluptas, dolore! Sequi magnam ab similique est eum alias quod
                                        nemo nulla, nam numquam excepturi pariatur ad sapiente modi dolorum? Nesciunt,
                                        deserunt. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi, molestias. Atque vero tenetur cumque necessitatibus quos porro rerum delectus dolore aspernatur fuga quibusdam quasi reprehenderit velit, magnam sapiente. Sed, vero!</p>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="button wow fadeInUp" data-wow-delay=".7s">
                                    <a href="#" class="btn bg-white text-dark border border-1 border-dark">Atrás</a>
                                </div>
                            </div>
                            <div class="col-6 align-right">
                                <div class="button wow fadeInUp" data-wow-delay=".7s">
                                    <a href="#" class="btn">Siguiente</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('../templates/footer') %>

        <script type="text/javascript">
            //========= glightbox
            GLightbox({
                'href': 'https://www.youtube.com/watch?v=qorBzcjfEmc&ab_channel=TBS',
                'type': 'video',
                'source': 'youtube', //vimeo, youtube or local
                'width': 900,
                'autoplayVideos': true,
            });
        </script>