<!-- Start Modals Area -->

<div class="modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Modal body text goes here.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

<!-- Ends Modals Area -->

<!-- Start Footer Area -->
<footer class="footer">
    <!-- Start Middle Top -->
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Single Widget -->
                    <div class="f-about single-footer">
                        <div class="logo">
                            <h2 class="text-primary">TimeLapse</h2>
                            <span>&nbspmás fácil imposible.</span>
                        </div>
                        <p>En busqueda de la mejora <br> continua para ofrecerte los mejores servicios.</p>
                        <div class="footer-social">
                            <ul>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-github"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Single Widget -->
                </div>
                <div class="col-lg-2 col-md-6 col-12 m-3">
                    <!-- Single Widget -->
                    <div class="single-footer f-link">
                        <h3>More Links</h3>
                        <ul>
                            <li><a href="#">Topics</a></li>
                            <li><a href="#">Terms of Use</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">License</a></li>
                        </ul>
                    </div>
                    <!-- End Single Widget -->
                </div>
                <div class="col-lg-2 col-md-6 col-12 m-3">
                    <!-- Single Widget -->
                    <div class="single-footer f-link">
                        <h3>Support</h3>
                        <ul>
                            <li><a href="#">Cookies</a></li>
                            <li><a href="#">Forum</a></li>
                            <li><a href="#">Support Team</a></li>
                            <li><a href="#">Sitemap</a></li>
                        </ul>
                    </div>
                    <!-- End Single Widget -->
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="newsletter-area">
                        <div class="mini-call-action">
                            <h4>¿Sabías que TimeLapse nació de una innovación para ayudar a las personas que no
                                tienen muchos conocimientos en las aplicaciones cotidianas?</h4>
                            <p>Cuéntales a las personas que crees que puedan necesitar a TimeLapse.</p>
                            <!-- <img src="assets/images/favicon.svg" alt="" style="height: 70px; width: 70px;"> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ End Footer Middle -->
    <!-- Start Footer Bottom -->
    <div class="footer-bottom">
        <div class="container">
            <div class="inner">
                <div class="row">
                    <div class="col-12">
                        <div class="left">
                            <p>Designed and Developed by<a href="https://graygrids.com/" rel="nofollow"
                                    target="_blank">GrayGrids</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer Middle -->
</footer>
<!--/ End Footer Area -->

<!-- ========================= scroll-top ========================= -->
<a href="#" class="scroll-top btn-hover">
    <i class="fas fa-chevron-up"></i>
</a>

<!-- ========================= JS here ========================= -->
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/count-up.min.js"></script>
<script src="assets/js/wow.min.js"></script>
<!-- <script src="assets/js/tiny-slider.js"></script> -->
<script src="assets/js/glightbox.min.js"></script>
<script src="assets/js/imagesloaded.min.js"></script>
<script src="assets/js/isotope.min.js"></script>
<script src="assets/js/main.js"></script>
<script type="text/javascript">
    //========= glightbox
    GLightbox({
        'href': 'https://www.youtube.com/watch?v=kKkhVXiA2MM&ab_channel=CriticalMCriticalM',
        'type': 'video',
        'source': 'youtube', //vimeo, youtube or local
        'width': 900,
        'autoplayVideos': true,
    });
</script>
</body>

</html>