<%- include('../templates/head') %>

<div class="col-sm-12 col-md-8 col-lg-9 col-12">
    <div class="container mt-4">
        <div class="col-12 mb-4">
            <div class="text-center">
                <h2 class="wow fadeInUp" data-wow-delay=".2s">CURSO WHATSAPP</h2>
                <p class="wow fadeInUp" data-wow-delay=".2s">No tengas miedo a aprendrer, sólo
                    concéntrate y aprenderás! <i class="far fa-grin-beam"></i></p>
            </div>
        </div>
        
        <div class="row mb-5">

            <hr class="w-50 mx-auto mb-5">
            

            <div class="row">
                <div class="mb-5">
                    <h5 class="wow fadeInUp mb-3" data-wow-delay=".1s">Esta es tu prueba número 1</h5>
                    <p class="wow fadeInUp" data-wow-delay=".1s">Lorem ipsum dolor sit, amet consectetur
                        adipisicing elit. Voluptas, dolore! Sequi magnam ab similique est eum alias quod
                        nemo nulla, nam numquam excepturi pariatur ad sapiente modi.</p>
                </div>
                <div class="col-4 text-center py-5 wow fadeInLeft border-dark border-right" data-wow-delay=".4s">
                    <h1>Paso 1</h1>
                    <div class="button d-flex justify-content-center mt-3">
                        <button class="btn-video" style="font-size: 12px;">Realizar</button>
                    </div>
                </div>
                <div class="col-4 text-center py-5 wow fadeInDown" data-wow-delay=".4s">
                    <h1>Paso 2</h1>
                    <div class="button d-flex justify-content-center mt-3">
                        <button class="btn-video" style="font-size: 12px;">Realizar</button>
                    </div>
                </div>
                <div class="col-4 text-center py-5 wow fadeInRight border-dark border-left" data-wow-delay=".4s">
                    <h1>Paso 3</h1>
                    <div class="button d-flex justify-content-center mt-3">
                        <button class="btn-video" style="font-size: 12px;">Realizar</button>
                    </div>
                </div>
            </div>


            <div class="col-12 mt-5">
                <div class="pagination center wow fadeInRigh mt-5" data-wow-delay=".1s">
                    <ul class="pagination-list border">
                        <li><a href="#"><i class="fas fa-angle-left"></i></a></li>
                        <li><a href="/curso-whatsapp">1</a></li>
                        <li class="active"><a href="/curso-whatsapp-p1">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#"><i class="fas fa-angle-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<%- include('../../templates/footer') %>